<ion-content class='blue-grey darken-3 '>

	<div class='blue-grey darken-3'>

	<button ng-click="getRoster()">Get Roster</button>

      	<ul class="collection">
            <li class="collection-item blue-grey darken-3 white-text roster" ng-repeat="player in roster">
            	<div>
	            	<div class="team-pos">{{player[1].selected_position[1].position}}</div>
	            	<div class="player-container">
	            		<div class="player-info">
	            			<span class='player-name'>{{player[0][2].name.full}}</span> <span class="player-team">{{player[0][6].editorial_team_abbr || player[0][7].editorial_team_abbr || player[0][8].editorial_team_abbr}} - {{player[0][9].display_position || player[0][10].display_position || player[0][11].display_position}}</span> <span class="player-status">{{player[0][3].status}}</span>
	            		</div>
	            		<div class="player-matchup">Sun 1:00PM v DAL </div>	
	            	</div>
	            	<div class="player-points">
		            	<div class="player-act">{{player.actualPoints}}</div>
		            	<div class="player-proj">17.25</div>
	            	</div>	
            	</div>
            </li>
      	</ul>




	</div>
</ion-content>







