<ion-content class='blue-grey darken-3 '>

	<div class='blue-grey darken-3'>

	<button ng-click="getRoster()">Get Roster</button>

      	<ul class="collection">
            <li class="collection-item blue-grey darken-3 white-text roster" ng-repeat="player in players">
            	<div>
	            	<div class="team-pos">QB</div>
	            	<div class="player-container">
	            		<div class="player-info">
	            			<span class='player-name'> Eli Manning</span> <span class="player-team">NYG - QB</span>
	            		</div>
	            		<div class="player-matchup">Sun 1:00PM v DAL </div>	
	            	</div>
	            	<div class="player-points">
		            	<div class="player-act">-</div>
		            	<div class="player-proj">17.25</div>
	            	</div>	
            	</div>
            </li>
      	</ul>




	</div>
</ion-content>







