<ion-content class='blue-grey darken-3 '>

	<div class='blue-grey darken-3'>

	<button ng-click="getTransactions()">Get Transactions</button>


  	<ul class="collection">
        <li class="collection-item blue-grey darken-3 white-text roster" ng-repeat="transaction in transactions.all">
        	<div class="transaction-overview">
        		{{transaction.timestamp * 1000 | date: 'MM/dd/yy h:mm a'}} Type: {{transaction.type}} Status: {{transaction.status}}
        	</div>
        	<div class="transaction-added" ng-if="transaction.type === 'add' || transaction.type === 'add/drop'">
        		{{transaction.addedPlayer.user}} added: {{transaction.addedPlayer.name}} - {{transaction.addedPlayer.team}} - {{transaction.addedPlayer.pos}}
        	</div>
        	<div class="transaction-dropped" ng-if="transaction.type === 'drop' || transaction.type === 'add/drop'">
        	{{transaction.droppedPlayer.user}} Dropped: {{transaction.droppedPlayer.name}} - {{transaction.droppedPlayer.team}} - {{transaction.droppedPlayer.pos}}
        	</div>

        </li>
  	</ul>
      	



	</div>
</ion-content>







