@font-face {
	font-family: 'Roboto Regular';
	src: url('../font/roboto/Roboto-Regular.woff2');
}
@font-face {
	font-family: 'Roboto Medium';
	src: url('../font/roboto/Roboto-Medium.woff2');
}
@font-face {
	font-family: 'Roboto Light';
	src: url('../font/roboto/Roboto-Light.woff2');
}
@font-face {
	font-family: 'Roboto Thin';
	src: url('../font/roboto/Roboto-Thin.woff2');
}
@font-face {
	font-family: 'Roboto Bold';
	src: url('../font/roboto/Roboto-Bold.woff2');
}

.roboto-regular {
	font-family: 'Roboto Regular';
}
.roboto-medium {
	font-family: 'Roboto Medium';
}
.roboto-light {
	font-family: 'Roboto Light';
}
.roboto-thin {
	font-family: 'Roboto Thin';
}
.roboto-bold {
	font-family: 'Roboto Bold';
}

.text-grey {
	color: #424242;
}



/*Side Menu*/

.menu-item {
	font-size: 1.3em;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	
}

/*==========*/
/*Roster*/

li.roster {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.team-pos {
	font-size: 1.2em;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
}

.player-container {
	display: inline-block;
	margin-left: 10px;
}

.player-points {
	display: inline-block;
	float: right;
	text-align: right;
}

.player-name {
	font-size: 1.2em;
}

.player-team {
	font-size: 0.8em;
}

.player-matchup{
	font-size: 0.8em;
}





/*==========*/


.input-test {
	margin: 10px;
	min-width: calc(100%/1.5);
}


#league-button {
	
	
	/*margin-bottom: 20px;*/
	right: 0;

}






.full {
	min-height: 100%;
	min-width: 100%
}

.nav-button {
	/*position: absolute;*/
/*	right: 0;*/
	color: white;
	background-color: inherit;
	border: none;
	font-size: 2em;
}

.right {
	position: absolute;
	right: 0;
}

.left {
	position: absolute;
	left: 0;
}







